<!DOCTYPE html>
<html lang="en">
    <head>
        <title>moon stamps</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% load staticfiles %}
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
        {% block header_links %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row">
                	<h1>moon stamps</h1>
		</div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav-list">
                                <a href="/about/"><li><h3>about</h3></li></a>
                        </ul>
                     </div>
                </div>
            </header>
            {% block center %}
            {% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% bootstrap_javascript %}
        <script src="{% static 'endless_pagination/js/endless-pagination.js' %}></script>
        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 20
                });
        </script>
        <script src="{% static 'js/stamps.js' %}"></script>
        {% block bottomjs %}{% endblock %}
    </body>
</html>
